.show-animation{
  display: block;
  animation: showMobileMenuSlide 1s;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.nav-wrapper{
  padding-right: 30px;
  color: #313131;
  background-color: #fff;
  font-size: 16px;
  position: fixed;
}
@keyframes changeColor{
  from{ color: #313131 }
  to{ color: #039be5 }
}
@keyframes showMobileMenuSlide{
  from{ height: 0; }
  to{ height: 400%; }
}
@keyframes hideMobileMenuSlide{
  from{ height: 400%; }
  to{ height: 0; }
}
.nav-wrapper ul li{
  padding-left: 20px;
  cursor: pointer;
}
.nav-wrapper ul li:hover{
  animation: changeColor 0.3s;
  animation-fill-mode: forwards;
  border-bottom: 2px solid #039be5;
}
.brand-logo{
  background-color: #039be5;
  width: 160px;
  padding-left: 30px !important;
  margin-left: -10px;
  cursor: pointer;
}
.material-icons{
  color: #039be5;
  margin-right: -10px;
  font-size: 35px !important;
}
.mobile-nav{
  display: block;
  float: none;
  width: 100%;
  background-color: #313131;
  height: auto;
  color: #fff;
  position: absolute;
  right: 0;
  top: 65px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 99;
}
.mobile-nav li{
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.user-icon{
  border-radius: 50%;
  width: 65px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #313131;
}
.user-icon:hover{
  border: 1px solid #039be5;
}
.user-popup{
  width: 300px;
  list-style: none;
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 99;
  background-color: #fff;
  border: 2px solid #313131;
  color: #313131;
  padding-bottom: 24px;
}
.user-popup ul li{
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: -20px;
}
.user-popup ul li:hover{
  animation: changeColor 0.3s;
  animation-fill-mode: forwards;
}
.user-avatar img{
  margin-top: calc(50% - 20px);
  margin-right: 20px;
}
.user-avatar i{
  margin-right: 20px;
  margin-top: calc(50% - 20px);
  font-size: 80px !important;
}
@media screen and (max-width: 992px){
  .user-popup{
    width: 100%;
    position: absolute;
    right: 0;
  }
}