.my-profile{
  height: calc(100% - 64px);
  width: 100%;
  position: absolute;
}
.user-panel-nav{
  width: 170px;
  float: left;
  height: 100%;
  padding-left: 10px;
  background-color: #414141;
  color: #fff;
}
.my-profile-content{
  width: calc(100% - 170px);
  float: left;
  height: 100%;
}
.show{
  display: 'block';
}
.hide{
  display: 'none';
}
.profile-form{
  overflow: auto;
  height: 100%;
  padding-left: 20px;
}
.profile-form h2{
  color: #039be5;
  padding-left: 20px;
}
.profile-form h3{
  width: calc(50% + 20px);
  background-color: #039be5;
  color: #fff;
  padding-left: 40px;
  margin-left: -20px;
}
.input-field input[type=text]:focus{
  border-bottom: 1px solid #0277bd;
  box-shadow: 0 1px 0 0 #0277bd;
}
.input-field input[type=date]:focus{
  border-bottom: 1px solid #0277bd;
  box-shadow: 0 1px 0 0 #0277bd;
}
.input-field input[type=password]:focus{
  border-bottom: 1px solid #0277bd;
  box-shadow: 0 1px 0 0 #0277bd;
}
.input-field p{
  margin-bottom: -5px;
}
.input-field:hover p{
  color: #039be5;
}
.input-field{
  width: 33%;
}
.btn{
  float: left;
}
.profile-form select{
  display: block;
  margin-top: 10px;
}
.blog-url input{
  width: 250px !important;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.blog-url input:focus{
  border-bottom: 1px solid #0277bd !important;
  box-shadow: 0 1px 0 0 #0277bd !important;
}
.blog-url a{
  float: left;
  margin-top: 10px;
}
.blog-url{
  margin-bottom: 100px;
}
.user-panel-nav h5{
  cursor: pointer;
  font-size: 20px;
}
.user-panel-nav h5:hover{
  color: #0277bd;
}
.user-panel-nav ul {
  background-color: #616161;
  width: calc(100% + 10px);
  margin-left: -10px;
  padding-left: 30px;
}
.user-panel-nav ul li{
  cursor: pointer;
}
.user-panel-nav ul li:hover {
  color: #039be5
}
.user-panel-nav h5 i{
  margin-right: 5px;
  font-size: 25px !important;
}
@media screen and (max-width: 990px){
  .input-field{
    width: 100%;
  }
  .profile-form h3{
    width: 100%;
  }
}
@media screen and (max-width: 760px){
  .user-panel-nav {
    width: 40px;
  }
  .user-panel-nav h5{
    width: 25px;
    white-space: nowrap;
  }
}